#header {
    height: 80px;
    background:#DDDDDD; 
}
#navbar {
    background-color: #76c7c0;
    height: 50px; 

}
#top-nav {margin-top: 5px;}
#top-nav ul li{
display:inline;
margin: 15px ;
line-height: 2.5;
margin-top: 5px;



}
#top-nav li a{
    color: white;
   font-size: 13px; 
     text-transform: uppercase;
    transition: background 0.4s ease-out;
    -o-transition: background 0.4s ease-out;
    -moz-transition: background 0.4s ease-out;
    -webkit-transition: background 0.4s ease-out;
}
#top-nav li a:hover {
    background: red;
}
#logo {
    height: 300px;
    background-color: #7f8c8c;

}
#c1 {
    
    width: 348px;
    color: #ffffff;

     font-size: 45px;
    background-color: #e2534b;
    text-align: center;
    margin: auto;
    margin-top: 70px;
    font-weight: bold;
    border-radius: 5px; 
}

#c2{
    background-color: #3f4646;
    color: #ffffff;
    height: 70px;
    width: 470px;
    
    margin: auto;
    margin-top: 10px;
    text-align: center;
    padding: 15px;
    border-radius: 5px; 

}
#slogan {
    margin-top: 50px;
    height: 100px;
    background-color:#ececec;

}
#c3 {
    color: #7f8c8c;
    font-size: 25px;


}
.btn-danger {
    font-size: 22px !important;
    margin: 30px 70px !important; 

}
.part1 {
    background: #f3f3f3;
}
 .fa-thumbs-o-up, .fa-key, .fa-flag, .fa-flask{
   color: #62bdbd;
   font-size: 50px !important;
       padding-top: 30px;
    padding-left: 106px;

}
#part1{
    height: 590px;
    background-color:#f3f3f3 ;
}
section {    margin-top: 50px;
}
.d{
    color: #7f8c8c;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;

}
.e {
    text-align: center;
}
.color {
    background-color: #f8f8f8;
     box-shadow: 0 5px 2px  #e5e6e6;
     border-radius: 5px;
     height: 315px;
}
#color1 {
    margin-left: -15px;
    margin-right: 15px;
}
#color4 {
    margin-left: 15px;
    margin-right: -15px;

}
#color2 {
     margin-left: -5px;
    margin-right: 5px;
}
#color3 {
    margin-left: 5px;
    margin-right: -5px;
}
.readmore {
    
    margin-top: -70px;
}
#rm1 {
        margin-left: 50px;
}
#rm2 {
     margin-left: 60px;
     
}
#rm3 { margin-left: 70px;}
#rm4 { margin-left: 80px }

.btn-primary {
    font-size: 18px !important;
    margin-top: 50px;
     

}
#WMV {
    height: 500px;
    background-color: #ececec;
    color: #e1524b;
}
#c5  {
     padding-top: 70px;
    text-align: center;
    font-size: 45px;
}
#c6 {
    color: #818181;
    text-align: center; 
}
#image{    margin-top: -250px;}
#img2 {
    height: 360px;
    background-color: #c1c7cd;
    border-radius: 10px;
    

}
#img3, #img1 {
    height: 260px;
    background-color: #b0b8b9;
    margin-top: 60px;
    
}
#img1{    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;}
#img3 {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.fa-circle {
    color: #ececec !important;
    font-size: 15px !important;
    padding-top: 10px !important;
    padding-left: 1px !important;

}
.fa-minus {
    color: #ececec !important;
    padding-left: 532px;
   
   
    display: block !important;
    margin-top: -22px !important;
    font-size: 22px !important;
}
#img1a1 {
    height: 200px;
}
#anh1 {
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
#anh2 {
    border-radius: 10px;
    height: 320px;
    width: 555px;
    

}
#anh3{
    height: 210px;
    margin-top: 6px;
    margin-left: -15px;
    width: 275px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  
}
#anh4{
    border-radius: 2px;
}
#fa1 {   color: #ececec !important;
    margin-top: 8px !important;
    margin-left: -292px;

}
.fa-arrow-right {color: red !important;
                    margin-top: 4px !important;}
.arrow-down {
    width: 0px;
    height: 0px;
    border-left: 30px solid transparent;
    border-right: 0px solid transparent;
    border-top: 30px solid #f3f3f3;
    margin-left: 20px;
}
#row2{
        margin-top: 30px;
}
#row3a {
    color: #889494;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}
#row3b{
    background-color: #f3f3f3;
        font-style: italic;
}
#row3c {
        display: block;
    margin-top: -22px;
    margin-left: 65px;
    color: #777777;
    font-weight: bold;
    font-size: 18px;
}
#list {
    height: 600px;
    padding-top: 30px;
}
#l1{
    color: #929c9c;
    font-size: 18px;
    font-weight: 600;

}
#l2a{
        margin-top: -12px;
    margin-bottom: 20px;
    border: 0;
    border-top: 2px solid #eee;
}
.button {
    height: 40px;
    width: 40px;
    background: #98a3a3;
    border-radius: 5px;
    margin-left: 1100px;

    margin-top: -40px;
}
#button1{
        margin-left: 1045px;
    
}
#left {    color: #ffffff;
    font-size: 25px;
    margin: 8px;
}
#right { color: #ffffff;
    font-size: 25px;
    margin: 8px 13px}
#line {    margin-top: 50px;}   
.anh {
    width: 170px;
    height: 90px;
} 
#hinh {
    margin-top: 70px;
}
footer {
    height: 350px;
    background-color: #76c7c0;
    color: #ffffff;
}
#modus { font-size: 30px;
    font-weight: bold;

}
#vesus {
    font-size: 20px;
}
#fl1 {
    margin-top: 25px;
    margin-bottom: 25px;
}
#end {
    margin-top: 50px;
}
#number, #info {
        margin-left: 15px;
    font-size: 120%;
    font-style: italic;
    font-weight: 500;
}
#company, #community {
    color: #62a7a1;
     font-size: 25px;
}
#listcompany { 

}
.fa-ul>li { padding: 3px !important


}
.fa-angle-right {
    margin-right: 7px;
}
#fromthe, #blog {
    font-size: 25px;
}
#blog {
    font-weight: bold;
}
#Each{    margin-top: -70px;
    margin-left: 90px;}
    #anh5 {
        border-radius: 5px;
    }
#ftb, #blog2 {
    margin-top: 25px;
}

#may26 {
    color: #5b9c96;
}
#footend {
        height: 50px;
    background-color: #6ab3ac;
        margin-top: 62px;
}
.iconn {
    font-size: 30px !important;
    margin-left: 15px !important;
        margin-top: 10px !important;
}
#mv2013 {
    margin-top: 15px;
}
#WCS{
    color: #889494;
        font-size: 20px;
    font-weight: bold;
}
.imgnumber {
    padding-left: 10px;
}
#mo{
        font-size: 30px;
        color: #ffffff;
}
#ve {
    color: #ffffff;
    font-size: 25px;
}
