
header { height: 80px; }



.navbar {
        height: 80px;
    background-color: #76c7c0 !important;
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff !important;
    }
.navbar-brand {
    color: #ffffff !important;
}
.mo{
        font-size: 25px;
    font-weight: 900;
}
.ve {
        font-size: 20px;}

        .navbar {
      margin-bottom: 0;
      background-color: red;
      z-index: 9999;
      border: 0;
      font-size: 13px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 1px;
      border-radius: 0;
      font-family: Roboto, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover{
      color: #ffffff !important;
      background-color: #e8645a !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #e8645a !important;}
.navbar-right {
    
    margin-top: 1% !important;}
.container>.navbar-header {
    margin-top: 1%;}



.content {
    
        height: 1570px;
    background-color: #f3f3f3;
}
.contactus{
    height: 80px;
    background-color: #ececec;
}
.contact {
    color: #b7bdbd;
    font-weight: bold;
    font-size: 15px;
}
.arrow-down {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #ececec;}
.map {
    margin-top: 50px;
    margin-bottom: 60px;
    width: 1140px;
}
.btn-default {
    color: #333;
    background-color: #98a3a3 !important ;
    border-color: #ccc;
    box-shadow: 0px 1px 0px #98a3a3;}
 .hofo {
       color: #909b9b;
    text-align: right;
    font-size: 14px;
 }   
 .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin: 0px 10px;
color: #f3f3f3 !important}
.line {
    background-color: #ececec;
    height: 90px;
        padding: 25px 0px;
    border-radius: 5px;
    color: #777777;
}
.form {
    margin-top: 50px;
}
.send {
    color: #7f8c8c;
    font-size: 22px;
     margin-bottom: 65px;
}
input{
    background-color: #e5e6e6;
    border-radius: 5px;
    margin-right: 15px;

}
.form1{
    margin-bottom: 20px;
}
.form-control{
    margin-bottom: 20px;
}
}
.sendbut {
    font-size: 15px;
    width: 15%;
    
}

.location{
        margin-bottom: 10px;
}     
.faa{
        color: #e2534b;
    margin-right: 5px;
}

}
.link {
    margin-left: 5px;
    color: #e2534b;
}
.name {
    margin-left: 10px;
    color: #9aa4a4;
    font-size: 15px;
}
.dropdown-menu {
      background-color: #C2B9EF !important;
    border-radius: 5px;
    left: 0px !important;
}
footer {
    height: 350px;
    background-color: #76c7c0;
    color: #ffffff;
  
}

}
.fl1 {
    margin: 36px 0; }

.number {
        margin-left: 15px;
    font-size: 120%;
    font-style: italic;
    font-weight: 500;
}
.company {
    color: #62a7a1;
     font-size: 25px;
}
.listcompany { 
 margin-top: 36px;
}
.fa-ul>li { padding: 3px !important


}
.fa-angle-right {
    margin-right: 7px;
}
#fromthe, #blog {
    font-size: 25px;
}
#blog {
    font-weight: bold;
}
.Each{    margin-top: -70px;
      margin-left: 90px;}
.anh5 {
        border-radius: 5px;
        float: left;
        margin-right: 20px;

    }
.clear {clear: both;}
.blog1{
        margin-top: 30px;
    margin-bottom: 20px;
}

.may26 {
    color: #5b9c96;
}
.footend {
        
    background-color: #6ab3ac;
        height: 50px;
}
.iconn {
    font-size: 30px !important;
    margin-left: 15px !important;
        margin-top: 10px !important;
}