body {
    font-family: Roboto, sans-serif;
}

header { height: 80px; }



.navbar {
        height: 80px;
    background-color: #76c7c0 !important;
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a {
    color: #ffffff !important;
    }
.navbar-brand {
    color: #ffffff !important;
}
.mo{
        font-size: 25px;
    font-weight: 900;
}
.ve {
        font-size: 20px;}

        .navbar {
      margin-bottom: 0;
      background-color: red;
      z-index: 9999;
      border: 0;
      font-size: 13px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 1px;
      border-radius: 0;
      font-family: Roboto, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover{
      color: #ffffff !important;
      background-color: #e8645a !important;
      border-radius: 5px;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #e8645a !important;}
.navbar-right {
    
    margin-top: 1% !important;}
.container>.navbar-header {
    margin-top: 1%;}
.dropdown-menu {
      background-color: #C2B9EF !important;
    border-radius: 5px;
    left: 0px !important;
}

.fort{
    height: 80px;
    background-color: #ececec;
}
.fortfolio {
    color: #7f8c8c;
    font-weight: bold;
    font-size: 18px;
}
.content {
        height: 1480px;
    background-color: #f3f3f3;

}
.arrow-down {
    width: 0px;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 10px solid #ececec;}
.btn-default {
    color: #333;
    background-color: #98a3a3 !important ;
    border-color: #ccc;
    box-shadow: 0px 1px 0px #98a3a3;}
 .hofo {
       color: #909b9b;
    text-align: right;
    font-size: 14px;
 }   
 .btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    margin: 0px 10px;
color: #f3f3f3 !important}
.anh6 {
    width: 555px;
    height: 270px;
    margin: 20px 0;
    border-radius: 3px;
    box-shadow: 0 5px 0;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: none !important;
    padding: 8px 12px !important;
    margin: 0px 5px !important;
    line-height: 1.42857143;
    color: #ffffff !important;
    text-decoration: none;
    background-color: #8c9898 !important;
    border: 0px !important ;
    border-radius: 5px;
}
.pagination {
    
    margin: 20px 30% !important; }
.pagination>li:first-child>a, .pagination>li:first-child>span {
    
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}
footer {
    height: 350px;
    background-color: #76c7c0;
    color: #ffffff;
  
}
#modus { font-size: 30px;
    font-weight: bold;

}
#vesus {
    font-size: 20px;
}
.fl1 {
    margin: 36px 0; }

.number {
        margin-left: 15px;
    font-size: 120%;
    font-style: italic;
    font-weight: 500;
}
.company {
    color: #62a7a1;
     font-size: 25px;
}
.listcompany { 
 margin-top: 36px;
}
.fa-ul>li { padding: 3px !important


}
.fa-angle-right {
    margin-right: 7px;
}
#fromthe, #blog {
    font-size: 25px;
}
#blog {
    font-weight: bold;
}
.Each{    margin-top: -70px;
      margin-left: 90px;}
.anh5 {
        border-radius: 5px;
        float: left;
        margin-right: 20px;

    }
.clear {clear: both;}
.blog1{
        margin-top: 30px;
    margin-bottom: 20px;
}

.may26 {
    color: #5b9c96;
}
.footend {
        
    background-color: #6ab3ac;
        height: 50px;
}
.iconn {
    font-size: 30px !important;
    margin-left: 15px !important;
        margin-top: 10px !important;
}